[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
numpy = "*"
matplotlib = "*"
scikit-learn = "*"
seaborn = "*"
torch = "*"

[dev-packages]

[requires]
python_version = "3.12"
